<form (ngSubmit)="startQuizz()" [formGroup]="credentials" class="home-header">
	<mat-form-field color="accent">
		<input formControlName="name" placeholder="Votre nom" matInput>
		<mat-error *ngIf="credentials.get('name')?.hasError('required')">Votre nom est
			<strong>requis</strong>
		</mat-error>
	</mat-form-field>
	<mat-form-field color="accent">
		<input formControlName="mail" placeholder="Votre adresse mail" matInput>
		<mat-error *ngIf="credentials.get('mail')?.hasError('email')">Cette adresse mail ne semble pas valide</mat-error>
	</mat-form-field>
	<button color="accent" types="submit" [disabled]="credentials?.invalid" mat-raised-button>Commencer le quizz</button>

	<p class="discreet-message">*Votre adresse mail n'est partagée avec aucune tierce partie et n'est pas accessible au public.</p>
</form>