./Front/src/environments/*.ts

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Translations
*.mo
*.pot

# App
*.json

# Flask instance folder
instance/

# Sphinx documentation
docs/_build/

# pyenv
.python-version

# dotenv
.env

# virtualenv
venv/
ENV/

# OSX
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
