{
    "section1": [
        ["q1","Question",["answer1","answer2","answer3","answer4"],"answer1"],
        ["q2","Question",["answer1","answer2","answer3","answer4"],"answer1"],
        ["q3","Question",["answer1","answer2","answer3","answer4"],"answer1"]
    ],
    "section2": [
        ["q21","Question",["answer1","answer2","answer3","answer4"],"answer1"],
        ["q22","Question",["answer1","answer2","answer3","answer4"],"answer1"],
        ["q23","Question",["answer1","answer2","answer3","answer4"],"answer1"]
    ],
    "section3": [
        ["q31","Question",["answer1","answer2","answer3","answer4"],"answer1"],
        ["q32","Question",["answer1","answer2","answer3","answer4"],"answer1"],
        ["q33","Question",["answer1","answer2","answer3","answer4"],"answer1"]
    ],
    "section4": [
        ["q41","Question",["answer1","answer2","answer3","answer4"],"answer1"],
        ["q42","Question",["answer1","answer2","answer3","answer4"],"answer1"],
        ["q43","Question",["answer1","answer2","answer3","answer4"],"answer1"]
    ],
    "section5": [
        ["q51","Question",["answer1","answer2","answer3","answer4"],"answer1"],
        ["q52","Question",["answer1","answer2","answer3","answer4"],"answer1"],
        ["q53","Question",["answer1","answer2","answer3","answer4"],"answer1"]
    ]

}
